.moviePage {
  padding: 2rem;
}

.movieInfo {
  display: flex;
  gap: 1rem;
  margin-top: 2rem;
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 2rem;
}

.movieInfo img {
  max-width: 100%;
  border-radius: .4rem;
  aspect-ratio: 4 / 6;
}

.movieInfo h1 {
  margin-bottom: 1rem;
  font-size: 3rem;
}

.reviews {
  background-color: #f0f0f0;
  padding: 1rem;
  border-radius: 8px;
}

.review {
  margin: 1rem 0;
  padding-bottom: 1rem;
  border-bottom: 1px solid #ccc;
}

.review:last-child {
  border-bottom: none;
}
